

.my_container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
}

img{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.debug{
  background-color: rgba(255, 0, 0, 0.352);
  border: 1px solid black;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 400px;
  padding: 90px;
  z-index: 2;
  background-color: rgba(87, 87, 87, 0.362);
  border-radius: 20px;
}

.form-wrapper >*{
  margin: 10px;

}

.form-wrapper .output{
  height: 50px;
}

.blurred{
  filter: blur(10px);
  transform: scale(110%);
  transition: all 0.5s ease;
}

.blurred-out{
  transition: all 0.5s ease;
}

.carousel-container {
  height: 150px;
  width: 100%; /* Larghezza del contenitore */
  overflow: hidden; /* Nasconde le parole che escono dalla vista */
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.word-carousel {
  display: inline-flex;
  animation: scroll linear infinite; /* Applica l'animazione di scorrimento continuo */
}

.word {
  box-shadow: inset 20px 0 0 0 rgba(132, 74, 74, 0.402);
  font-size: 4rem;
  margin-right: 400px; /* Spazio tra le parole */
}

@keyframes scroll {
  from {
    transform: translateX(0); /* Inizia dal punto di partenza */
  }
  to {
    transform: translateX(100%); /* Si sposta verso sinistra */
  }
}

